.form {
  text-align: right;
}

.form button {
  font: inherit;
  font-weight: bold;
  background-color: #d9843b;
  border: 1px solid #d9843b;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background-color: #bf5b04;
  border-color: #bf5b04;
}
